
    <form [formGroup]="form" (ngSubmit)="purchase()" style="margin-bottom: 20px;">
      <div class="form-group row">
        <label for="purchase" class="col-md-2 col-form-label">achat</label>
        <div class="col-md-6">
          <input type="number" class="form-control" id="purchase" formControlName="purchase">
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </div>
     
    </form>
<div *ngFor="let purchase of purchases; index as i">
  <p>Prix de l'achat {{i+1}}: {{purchase}} Euros</p>
</div>
<p>Montant total: {{total}} Euros</p>
<form [formGroup]="formPayment" (ngSubmit)="onSubmitPayment()" style="margin-bottom: 20px;">
  <div class="form-group row">
    <label for="payment" class="col-md-2 col-form-label">Montant payé:</label>
    <div class="col-md-6">
      <input type="number" class="form-control" id="payment" formControlName="payment">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </div>
 
</form>
<div *ngFor="let payment of payments; index as i">
  <p>paiement {{i+1}}: {{payment}} Euros</p>
</div>

<p *ngIf="paymentSum < total && total != 0 && payments.length != 0 ">Il reste : {{remain}} Euros</p>
<div *ngIf="paymentSum >= total && payments.length != 0">
  <p>Montant rendu: {{change}} Euros </p>
 </div>